@model IEnumerable<Sistema_Advocacia.Models.ClienteDocumento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entregue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entregue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteDocumentoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteDocumentoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClienteDocumentoId })
        </td>
    </tr>
}

</table>
