@model IEnumerable<Sistema_Advocacia.Models.Questionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
    @if (Model.Count() > 0)
        {@Html.ActionLink("Voltarrrr", "TodoProcesso", "Processo", new { id = Model.First().ProcessoPeticao.ProcessoId }, null)}


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TituloTrecho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pergunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resposta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloTrecho)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pergunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resposta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.QuestionarioId }) |
                @Html.ActionLink("Details", "Details", new { id = item.QuestionarioId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.QuestionarioId })
                

            </td>
        </tr>
    }

</table>

@Html.ActionLink("Voltar", "Voltar")



