@model Sistema_Advocacia.Models.PeticaoModelo

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Peticao Modelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NaturezaAcao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturezaAcao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeticaoModificada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeticaoModificada)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PeticaoModeloId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
