@model IEnumerable<Sistema_Advocacia.Models.PeticaoModelo>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Tipo de Petições</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NaturezaAcao.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peticao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NaturezaAcao.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peticao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PeticaoModeloId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PeticaoModeloId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.PeticaoModeloId })
        </td>
    </tr>
}

</table>
