@model Sistema_Advocacia.Models.Processo

@{
    ViewBag.Title = "Deletar";
}

<h3>Tem certeza que deseja deletar este item?</h3>
<div>
    <h4>Processo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturezaAcao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturezaAcao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumoDoCaso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumoDoCaso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroProcesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroProcesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkProcesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkProcesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vara)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
